<div class="productContainer">
    <div class="productImage">
        <img src="./assets/products/product.jpg">
    </div>

    <div class="productDescription">
        <div class="productInfo">
            <div class="productName"><p>{{ product?.name }}</p></div>
            <div class="productPrice">
                <span class="discountedPrice" *ngIf="product!.discount > 0">
                    ${{ product!.price | discountedPrice: product!.discount }}
                </span>
                  
                <span [class.discounted]="product!.discount > 0">${{ product!.price }}</span>
            </div>
        </div>

        <p class="description">{{ product?.description }}</p>
    </div>
</div>
